
@{
    ViewData["Title"] = "About";
}
<h2 style="text-align:center">@ViewData["Title"]</h2>
<br />
<div class="row">
    <div class="col-md-6">
        <img src="~/images/Aboutus.jpg" />

    </div>
    <div class="col-md-6" style="padding-left:100px;">
        <p style="font-size:large;font-family:Britannic;">
            Fruit and vegetables are part of a healthy, balanced diet and can help you stay healthy. It's important that you eat enough of them.

            Evidence shows there are significant health benefits to getting at least 5 portions of a variety of fruit and vegetables every day. That's 5 portions of fruit and veg in total, not 5 portions of each. A portion of fruit or vegetables is 80g.

            The 5 A Day campaign is based on advice from the World Health Organization (WHO), which recommends eating a minimum of 400g of fruit and vegetables a day to lower the risk of serious health problems, such as heart disease, stroke and some types of cancer.

        </p>

    </div>
</div>