@model Order
<br />
    <h3 class="text-center">You are just one step away from ordering your drinks.</h3>
<div >    
   
    <form asp-action="Checkout" method="post"  role="form" class="checkout-form">
        @*<div class="form-group">*@
            @*<label asp-for="LastName" class="control-label"></label>*@
            <div class="form-group">
                <input asp-for="LastName" class="form-control-checkout" placeholder="Last Name" />
                <br />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        @*  </div>*@
        <div class="form-group">
            @*<label asp-for="FirstName" class="col-md-2 control-label"></label>*@
            <div class="justify-content-center">
                <input asp-for="FirstName" class="form-control-checkout" placeholder="First Name" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            @*<label asp-for="AddressLine1" class="col-md-2 control-label"></label>*@
            <div>
                <input asp-for="AddressLine1" class="form-control-checkout" placeholder="Address Line1" />
                <span asp-validation-for="AddressLine1" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            @*<label asp-for="AddressLine2" class="col-md-2 control-label"></label>*@
            <div>
                <input asp-for="AddressLine2" class="form-control-checkout" placeholder="AddressLine2" />
                <span asp-validation-for="AddressLine2" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            @*<label asp-for="ZipCode" class="col-md-2 control-label"></label>*@
            <div>
                <input asp-for="ZipCode" class="form-control-checkout" placeholder="ZipCode"  />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
        </div>

        <div  class="form-group">
            @*<label asp-for="City" class="col-md-2 control-label"></label>*@
            <div>
                <input asp-for="City" class="form-control-checkout" placeholder="City" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            @*<label asp-for="State" class="col-md-2 control-label"></label>*@
            <div>
                <input asp-for="State" class="form-control-checkout" placeholder="State"/>
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            @*<label asp-for="Country" class="col-md-2 control-label"></label>*@
            <div>
                <input asp-for="Country" class="form-control-checkout" placeholder="Country"/>
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            @*<label asp-for="PhoneNumber" class="col-md-2 control-label"></label>*@
            <div>
                <input asp-for="PhoneNumber" class="form-control-checkout" placeholder="Phone Number" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            @*<label asp-for="Email" class="col-md-2 control-label"></label>*@
            <div>
                <input asp-for="Email" class="form-control-checkout" placeholder="Email"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="btn-group col-md-offset-2 col-md-8 text-black-50">
                <input class="btn btn-success text-black-50" style="width:auto" type="submit" value="Complete order" />
                @*<input class="btn btn-default" type="submit" value="Return " />*@
            </div>
        </div>
        <br />
    </form>
</div>
