<li class="dropdown navbar-nav">
    <a asp-controller="Items"
       asp-action="Index"
       class="dropdown-toggle" data-toggle="dropdown">Category</a>
    <ul class="dropdown-menu nav-item nav-link text-black-50 animated pulse">
        @foreach (var category in Model)
        {
            <li >
                <a asp-controller="Items" asp-action="List"
                   asp-route-category="@category.CategoryName">@category.CategoryName</a>
            </li>
        }
        <li class="divider"></li>
        <li >
            <a asp-controller="Items" asp-action="List" asp-route-category="">View all Category</a>
        </li>
    </ul>
</li>
