
@model TheFoodStapleEx.Models.ViewModels.ShoppingCartViewModel

    @if (Model.ShoppingCart.ShoppingCartItems.Count > 0)
    {
        <li class="navbar-nav">
            <a asp-controller="ShoppingCarts" asp-action="Index">
                <span class="glyphicon glyphicon-shopping-cart" style="width:auto;height:inherit"></span>
                <span id="cart-status">
                    @Model.ShoppingCart.ShoppingCartItems.Count
                </span>
            </a>
        </li>
    }


